__pycache__/
*.py[cod]
*.pyd

.venv/
venv/
env/

/.pytest_cache/
/.coverage
/htmlcov/

/build*/
/dist*/

/ui-check.png
/final-ui-check.png
/test-token-config.json
*.log

.idea/
.vscode/
Thumbs.db
Desktop.ini
